.index
  .container
    %p
      Estos son los sitios que utilizo para bajar ebooks, algunos en pdf otros en formato para kindle:
      ordenados de mas variado a mas especializado
    %h2
      = link_to 'zlibrary', 'https://b-ok.lat/', target: '_blank'
    %p
      Tienen de todo y con sus opciones de búsqueda se pueden encontrar cosas en múltiples idiomas.
    %h2
      = link_to 'Library Genesis', 'http://libgen.rs/', target: '_blank'
    %p
      Bastante completo pero ligeramente especializado en ciencia, tecnología y clásicos.
    %h2
      = link_to 'Project Gutenberg ebooks', 'https://search.bungomail.com/en', target: '_blank'
    %p
      Solo libros en el dominio público así que todo es 'legal', aunque tienen un proyecto de audiolibros muy bueno también.
    %h2
      = link_to 'PDFBooksWorld', 'https://www.pdfbooksworld.com/books', target: '_blank'
    %p
      A diferencia de los otros este sitio es especializa en pdfs en inglés.
    %h2
      = link_to 'Internet Archive OpenLibrary', 'https://openlibrary.org/', target: '_blank'
    %p
      Este es un proyecto que busca que todo lo que se ha publicado esté disponible para toda la humanidad.
    %h2
      = link_to 'OpenLibra', 'https://openlibra.com/es/collection', target: '_blank'
    %p
      Excelente categorización de muchos temas, en inglés y en español
    %h2
      = link_to 'Standard Ebooks', 'https://standardebooks.org/', target: '_blank'
    %p
      Un proyecto que busca lanzar ediciones muy alta calidad de textos clásicos en inglés.
    %h2
      = link_to 'Centsless books', 'https://centslessbooks.com/ebooks', target: '_blank'
    %p
      Su colección es de links de libros gratuitos en todo el internet, principalmente Amazon
    %h2
      = link_to 'ManyBooks', 'https://manybooks.net/', target: '_blank'
    %p
      Como Cetsless pero ellos mismos hospedan los libros
